.App {
  text-align: center;
}

textarea{
  width: 600px;
  height: 200px;
}

.cell{
  margin: 20px;
  width: 100px;
}

.matrix {
  margin: 20px;
}

.btn{
  margin: 20px;
}

.table {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}